<p>
	These are the interest rates
</p>

<select (change)="changePeriod($event)">
    <option value="1_jaar">1 year</option>
    <option value="10_jaar">10 years</option>
    <option value="20_jaar">20 years</option>
    <option value="30_jaar">30 years</option>
</select>

<input type="text" (change)="onSearchChange($event)">

<table>
	<th>
		Name
	</th>
	<th>
		NHG
	</th>
	<th>
		60% LTV
	</th>
	<th>
		80% LTV
	</th>
	<th>
		100% LTV
	</th>
	<tr *ngFor="let rate of filteredList">
		<td>{{ rate.Hypotheek }}</td>
		<td>{{ rate.NHG }}</td>
		<td>{{ rate['60%'] }}</td>
		<td>{{ rate['80%'] }}</td>
		<td>{{ rate['100%'] }}</td>
	</tr>
</table>


<div *ngFor="let rate of filteredList">
	<h4>{{ rate.Hypotheek }}</h4>
	<ul>
		<li>NHG - {{ rate.NHG }}</li>
		<li>60% LTV - {{ rate['60%'] }}</li>
		<li>80% LTV - {{ rate['80%'] }}</li>
		<li>100% LTV - {{ rate['100%'] }}</li>
	</ul>
</div>